/* LOAD WEB FONTS */


/* Sans-serif: Work Sans by Wei Huang */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

/* Serif: Merriweather by Sorkin Type */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Monospace: Anonymous Pro by Mark Simonson */

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ROOT: CUSTOM PROPERTIES (VARIABLES) */

:root {
    /* COLOR */
    --color-pri: HSL();
    --color-sec: HSL();
    --color-text: black;
    --color-background: HSL();
    --color-accent: HSL();
    /* FONT SIZE */
    --font-size-body: 1rem;
    --line-height-body: 1.6;
    --font-size-heading1: ;
    --font-size-heading2: ;
    --line-height-heading: 1;
    --font-size-small: 0.875rem; 
    --line-height-small: 1.25; 
    /* ! define: do clamp for headings */
    --sans-serif: "Work Sans";
    --serif: "Merriweather";
    --monospace: "Anonymous Pro";
}

/* CSS RESETS: GENERAL
key reference: Andy Bell, https://andy-bell.co.uk/a-more-modern-css-reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}
ul[role='list'],
ol[role='list'] {
    list-style: none;
}
body {
    min-height: 100vh;
}
img,
picture,
svg,
video {
    max-width: 100%;
    display: block;
}

/* OVERFLOW */

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* CSS RESETS: TYPOGRAPHY */

html {
    font-size: 100%
}
body {
    font-family: "Merriweather", serif;
    font-size: var(--font-size-body);
    font-weight: 300; 
    line-height: var(--line-height-body);
}
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    text-wrap: balance;
    /* 29 Oct 2023: not supported on Safari, Firefox */
}

/* TYPOGRAPHY IN DETAIL | TYPESETTING */

/* paramters to be defined: 
- width (~65ch) 
- line-height (display, body)
- letter-spacing
- 
*/

.para-width {
    max-width: 70ch; 
    margin-inline: auto;
}


/* LINKS */

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}
