/* ROOT: CUSTOM PROPERTIES (VARIABLES) */

:root {
    --pri-color-1: HSL(205, 100%, 50%);
    /* bright blue */
    --pri-color-2: HSL(135, 100%, 55%);
    /* fluorescent green */
    --sec-color-1: HSL(95, 100%, 95%);
    /* light cream */
}

/* CSS RESETS: GENERAL
key reference: Andy Bell, https://andy-bell.co.uk/a-more-modern-css-reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}
ul[role='list'],
ol[role='list'] {
    list-style: none;
}
body {
    min-height: 100vh;
}
img,
picture,
svg,
video {
    max-width: 100%;
    display: block;
}

/* OVERFLOW */

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* CSS RESETS: TYPOGRAPHY */

html {
    font-size: 100%
}
body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.5;
}
article {}
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* LINKS */

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}
