/* ROOT: CUSTOM PROPERTIES (VARIABLES) */

:root {
    /* COLOR */
    --color-pri: HSL(205, 100%, 50%);
    /* ! define: color secondary */
    --color-sec: HSL();
    --color-text: HSL(0 0% 0%);
    --color-background: HSL(0 0% 90%);
    --color-accent: HSL(325 100% 50%);

    /* FONT SIZE & LINE HEIGHT */
    --font-size-small: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
    --line-height-small: 1.5;
    --font-size-body: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --line-height-body: 1.75;
    --font-size-h1: clamp(2.25rem, 2.125rem + 0.625vw, 2.625rem);
    --font-size-h2: clamp(1.5rem, 1.3125rem + 0.9375vw, 2.0625rem);

    /* FONT FAMILY */
    --sans-serif: "degular-variable", sans-serif;
    --serif: ;
    --monospace: "lexia-mono-variable", sans-serif;
}

/* CSS RESET: GENERAL
key reference: Andy Bell, https://andy-bell.co.uk/a-more-modern-css-reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block;
}

/* CSS RESET: OVERFLOW */

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* CSS RESET: TYPOGRAPHY */

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 100%
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4,
blockquote {
    text-wrap: balance;
    /* 29 Oct 2023: text-wrap not supported on Safari, Firefox */
}

/* COLOR (COLOUR) */

h1,
h2 {
    color: color-mix(in oklab, var(--color-pri), black 25%);
}

/* LAYOUT: SINGLE COLUMN */

section,
figure {
    width: min(calc(100vw - 2rem), 55ch);
    margin: 0 auto;
}

footer > * {
    margin: 0 1rem; 
}

/* TYPOGRAPHY */

h1 {
    font-size: var(--font-size-h1);
    font-variation-settings: 'ital'0, 'opsz'6, 'wght'275;
}

h2 {
    font-size: var(--font-size-h2);
    font-variation-settings: 'ital'0, 'opsz'6, 'wght'300;
}

header,
nav,
section,
figure,
footer > * {
    font-family: var(--sans-serif), sans-serif;
    font-variation-settings: 'ital'0, 'opsz'6, 'wght'400;
}

section {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
}

nav,
figure,
footer {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

/* LAYOUT: NAVIGATION */

nav {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

nav p {
    display: inline;
    text-transform: uppercase;
}

/* LAYOUT: IMAGES, FIGURES */

img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

figure:not(.full-bleed) {
    grid-column: 2/3;
}

.full-bleed {
    grid-column: 1/4;
}

.aspect-1-1 img {
    aspect-ratio: 1/1;
}

.aspect-4-3 img {
    aspect-ratio: 4/3;
}

.aspect-3-2 img {
    aspect-ratio: 3/2;
}

.aspect-16-9 img {
    aspect-ratio: 16/9;
}

/* VERTICAL SPACE */

section *,
figure > *,
footer,
footer > * {
    margin-top: 1rem;
}

h2, h3, h4 {
    margin-top: 2rem;
}

footer {
    margin-bottom: 2rem;
}

/* RULES AND BORDERS */

nav,
figure,
.horizontal-scroll {
    border-bottom: 1.5px solid var(--color-background);
}

figure,
.horizontal-scroll {
    padding: 1rem 0;
}

.horizontal-scroll,
footer {
    border-top: 1.5px solid var(--color-background);
}

/* LAYOUT: HORIZONTAL SCROLL */
/* key reference: Kevin Powell, tutorial: https://youtu.be/3yfswsnD2sw?si=1MEtE3e6K0ufnWtx
*/

.horizontal-scroll {
    grid-column: 1/4;
    margin: 2rem;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: clamp(27%, 40vh, 75%);
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    padding-bottom: 1rem;
}

.horizontal-scroll div {
    scroll-snap-align: start;
}

.horizontal-scroll img {
    object-fit: cover;
    justify-content: center;
}

.horizontal-scroll {
    margin-left: 1rem;
}

/* LINKS */

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 0.155em;
    text-decoration-color: var(--color-accent);
}

a:not([class]):hover {
    text-decoration: none;
    background-color: var(--color-accent);
}
