/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 100%;
}

/* LAYOUT: SINGLE-COLUMN */

section {
    width: calc(100vw - 36px); 
    margin: 0 auto;
}

/* FONT FAMILY */

body {
    font-family: "degular-variable", sans-serif;
}

/* FONT SIZE */

section {
    font-size: 1rem;
    font-variation-settings: 'wght' 400;
}

/* CONTAINER QUERY: BODY */

.width-body {
    container-type: inline-size;
}
@container (width > 29em) {
    section {
        font-size: 1.25rem;
        font-variation-settings: 'wght' 375;
        max-width: 55ch;
        margin: 0 auto;
        color: blue;
    }
}

/* LINE HEIGHT */

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}
p {
    line-height: 1.6;
}

/* VERTICAL SPACE */

h1 {
    margin: 2rem 0;
}
p {
    margin-top: 1rem;
}
