/* UNIVERSAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* NAV, HEADER, FOOTER */

nav,
footer {
    padding: 1rem 2rem;
}

nav,
footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: lightgrey;
}

footer {
    background-color: antiquewhite;
}

/* LIST */

li {
    list-style: none;
}

/* VERTICAL SPACE */

p:not(:first-child),
li:not(:first-child) {
    margin-top: 1em;
}

/* LAYOUT WITH GRID */

main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

main h1 {
    grid-column: 1 / 4;
}

main details {
    grid-column: 1/4;
    grid-row: 2/3;
}

main ul:not(:last-child) {
    /*    column-count: 2;*/
}

main > * {
/*    background-color: beige;*/
    border-top: 2px solid black;
    padding: 1rem;
}

/* TYPSETTING IN DETAIL */

* {
    font-family: "degular-variable", sans-serif;
}

.title {
    font-family: "antipol-variable", sans-serif;
    font-variation-settings: "STCH"1, "wdth"150, "wght"400;
    font-size: clamp(1rem, 5.5cqi, 6rem);
}

@media screen and (min-width: 900px) {
    .title {
        font-variation-settings: "STCH"1, "wdth"200, "wght"400;
    }
}

.overview {
/*    display: inline;*/
    font-size: 1.2rem;
    line-height: 1.25em;
    column-width: 30ch;
    column-gap: 2.5rem;
    overflow: hidden;
    list-style: none;
}

details summary:not([open])::after {
    content: " ＋";
}

details[open] summary::after {
    content: " –";
    
}

details[open] {
    background-color: #F5F5F5; 
}

summary {
    display: block;
    cursor: pointer;
    list-style: none;
}

/* LAYOUT WITH FLEX */

/*
main {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

main > * {
    background-color: floralwhite;
    flex-grow: 1;
}

.title, .overview {
    flex-basis: 1; 
}
*/
