/* UNIVERSAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* LAYOUT: NAV, HEADER, FOOTER */

nav,
footer {
    padding: 1rem 2rem;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 2px solid orangered;
}

nav p {
    display: inline;
}

footer {
    border-top: 1px solid black;
    margin-top: 3rem;
}

/* LIST */

li,
.overview,
summary {
    list-style: none;
}

/* VERTICAL SPACE */

ul li:not(:first-child) {
    margin-top: 1em;
}

summary {
    margin-bottom: 1rem;
}

/* LAYOUT: MAIN */

main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media only screen and (min-width:1000px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    main h1 {
        grid-column: 1 / 4;
    }

    main details {
        grid-column: 1/4;
        grid-row: 2/3;
    }

}

main > *:not(h1) {
    border-top: 1px solid orangered;
    padding: 1rem 1rem 0 1rem;
}

h1 {
    padding: 1rem;
}

/* TYPSETTING */

* {
    font-family: "degular-variable", sans-serif;
}

body:not(h1) {
    font-size: 1.2rem;
}

h1 {
    font-family: "antipol-variable", sans-serif;
    font-size: 2.25rem;
    font-variation-settings: "STCH"1, "wdth"100, "wght"400;
}

@media screen and (min-width: 1100px) {
    .title {
        font-variation-settings: "STCH"1, "wdth"250, "wght"700;
    }
}

.list li:first-child {
    font-weight: 800;
}

.overview,
div p,
li {
    font-weight: 300;
    line-height: 1.25em;
    column-width: 30ch;
    column-gap: 2.5rem;
    overflow: hidden;
}

.two-column {
    column-count: 2;
}

details summary:not([open])::after {
    content: " ＋";
}

details[open] summary::after {
    content: " –";
}

details[open] {
    color: darkblue;
}

summary {
    display: block;
    cursor: pointer;
}

/* HOVER */

a:hover {
    color: orangered;
}
