/* LOAD GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,200&display=swap');

/* ROOT: CUSTOM PROPERTIES (VARIABLES) */

:root {
    --pri-color-1: HSL(205, 100%, 50%);
    /* bright blue */
    --pri-color-2: HSL(135, 100%, 55%);
    /* fluorescent green */
    --sec-color-1: HSL(95, 100%, 95%);
    /* light cream */
}

/* UNIVERSAL: CSS RESETS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* UNIVERSAL: TYPESETTING */

* {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 2rem;
    /*    font-size: clamp(1.5rem, -0.2857rem + 4.7619vw, 4rem);*/
}

main {
    max-width: 36ch;
    margin: 0 auto;
}

/* CONTAINERS */

.inline-container {
    margin: 0.5rem 0; 
}

.inline-container * {
    display: inline;
    color: #555;
    letter-spacing: 0.05rem;
    letter-spacing: -0.05em;
}

@media screen (min-width:1000px) {
    .inline-container * {
        letter-spacing: 0;
    }
}

.inline-container > *:not(:last-child) {
    margin-right: 0.25rem;
}

.spacer:empty {
    display: none;
    /*        display: block; */
    height: 12px;
    margin: 12px 0;
    padding: 0 1rem;
    background-color: #888;
}

div:blank {
    color: red;
}

.inline-container img {
    height: 1.4ex;
    vertical-align: baseline;
}

/* OVERVIEW */

.overview {
    font-size: 0.45rem;
    vertical-align: super;
}

/* SUPERSCRIPT */

sup {
    line-height: 0;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

sup::before {
    content: " ";
}

/* BREAKS */

hr {
    display: block;
    margin: 1rem 0;
}

/* LINKS */

.inline-container a {
    text-decoration: none;
}

.inline-container a:hover {
    text-decoration: line-through;
    color: red;
    text-decoration-thickness: 0.05em;
}

.inline-container img:hover {
    transition: transform 0.2s;
    transform: scale(2);
}

/* DEBUGGING CSS */

.inline-container :is(p, img) {
    /*    border: 1px solid red; */
    /*    text-decoration: underline; */
}
